/* fonts */
/* font Lobster Two */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');


#first-h1{
    font-family: 'Lobster Two', cursive;
    color: rgb(0, 132, 255);
}

#search-button {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    z-index: 4;
}

#search-input {
    padding-right: 120px;
    padding-left: 20px;
    box-shadow: 1px 1px 1px rgba(34, 56, 255, 0.075), 0px 0px 10px rgba(65, 110, 255, 0.6);
}

#notify-error{
    display: none;
    text-align: center;
    font-weight: 600;
    color: red;
}

#notify-empty{
    display: none;
    text-align: center;
    font-weight: 600;
    color: red;
}